Suivi du produit.json
[
    {
        "id": "9882eaeeaa1be7cf",
        "type": "tab",
        "label": "Suivi du produit",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7dc8b4dceaad1201",
        "type": "worldmap",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "lat": " 36.705324686735",
        "lon": "-4.422005660579545",
        "zoom": "",
        "layer": "Esri",
        "cluster": "",
        "maxage": "5",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "x": 2880,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c7249c6499f24599",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "emplacement0",
        "func": "msg.delay = 0;\nmsg.payload = {\n    \"name\" : \"depart\",\n    \"lat\" : 36.705324686735,  \n    \"lon\"  : -4.422005660579545,\n    \"icon\" : \"male\"\n} \n\nfor(let i = 0 ; i<500 ; i++){\n    msg.payload.lat += 0.0001;\n    msg.delay += 50000;\n    node.send(msg);\n}\nfor( let i = 0 ; i<500 ; i++){\n    msg.payload.lon += 0.0001;\n    msg.delay += 50000;\n    node.send(msg);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 900,
        "wires": [
            [
                "761a8e7df89032f4"
            ]
        ]
    },
    {
        "id": "761a8e7df89032f4",
        "type": "delay",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1350,
        "y": 900,
        "wires": [
            [
                "7dc8b4dceaad1201",
                "79b4c6a9081d1c16"
            ]
        ]
    },
    {
        "id": "79b4c6a9081d1c16",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload = \"Début de la livraison\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 800,
        "wires": [
            [
                "2ca8060e79950d61",
                "50b57555edd5410e"
            ]
        ]
    },
    {
        "id": "89e2bec5c2879bcf",
        "type": "ui_audio",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "490558f97f50e5b6",
        "voice": "Microsoft Julie Mobile - French (France)",
        "always": "",
        "x": 2240,
        "y": 880,
        "wires": []
    },
    {
        "id": "2ca8060e79950d61",
        "type": "ui_toast",
        "z": "9882eaeeaa1be7cf",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1710,
        "y": 660,
        "wires": []
    },
    {
        "id": "0089886fa8490c19",
        "type": "delay",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1100,
        "y": 1000,
        "wires": [
            [
                "2fb93cb58bc196d6"
            ]
        ]
    },
    {
        "id": "2fb93cb58bc196d6",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload = \"Sortie du centre de trie ,  et passage vers la douane\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1000,
        "wires": [
            [
                "ae756e922d7a0ad1",
                "aad8f7e7cf0aca16"
            ]
        ]
    },
    {
        "id": "ae756e922d7a0ad1",
        "type": "ui_toast",
        "z": "9882eaeeaa1be7cf",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1510,
        "y": 980,
        "wires": []
    },
    {
        "id": "718dd313c3936a9f",
        "type": "delay",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "12",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1100,
        "y": 1180,
        "wires": [
            [
                "9b35672528654355"
            ]
        ]
    },
    {
        "id": "9b35672528654355",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "emplacement1",
        "func": "msg.delay = 0;\nmsg.payload = {\n    \"name\" : \"Arriver_oran\",\n    \"lat\" : 37.026028,  \n    \"lon\"  : -2.471313182992445,\n    \"icon\" : \"male\"\n} \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1180,
        "wires": [
            [
                "7dc8b4dceaad1201"
            ]
        ]
    },
    {
        "id": "d395c8ee1a33f8b1",
        "type": "ui_button",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "490558f97f50e5b6",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Commencer à suivre la livraison",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "c7249c6499f24599",
                "0089886fa8490c19",
                "718dd313c3936a9f",
                "19b5621447c0f9e7",
                "4feea5b050ba0e44",
                "17fa9763fdf6cf43",
                "744cf4dbf6a39f1b",
                "6f31b7d92b3f7ec4"
            ]
        ]
    },
    {
        "id": "19b5621447c0f9e7",
        "type": "delay",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1100,
        "y": 1300,
        "wires": [
            [
                "822e24fa13cf01ae",
                "0700a502faa10eb8",
                "7865a681bd3df161"
            ]
        ]
    },
    {
        "id": "822e24fa13cf01ae",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "emplacement2",
        "func": "msg.delay = 0;\nmsg.payload = {\n    \"name\" : \"depart\",\n    \"lat\" : 37.07653941970242,   \n    \"lon\"  : -0.6152702145687352,\n    \"icon\" : \"male\"\n} \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1300,
        "wires": [
            [
                "7dc8b4dceaad1201"
            ]
        ]
    },
    {
        "id": "b7a05ce4e86c36de",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "temperature",
        "func": "let t = Math.floor(Math.random() * 4)+25;\nmsg.payload =t;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1440,
        "wires": [
            [
                "5d9cc31115027ebb",
                "af7049d589321080"
            ]
        ]
    },
    {
        "id": "5d9cc31115027ebb",
        "type": "ui_gauge",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "46833c0e27e87bd6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge temperatre",
        "label": "degré celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "40",
        "x": 1730,
        "y": 1420,
        "wires": []
    },
    {
        "id": "af7049d589321080",
        "type": "ui_chart",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "46833c0e27e87bd6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Evolution de la température par rapport au temps",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1910,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "433f32aef8edbb99",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "Vibration",
        "func": "let vib =  Math.floor(Math.random() *2)+2;\nmsg.payload = vib;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1500,
        "wires": [
            [
                "72692719a8c692c9",
                "ed1f18a697ce4ab2"
            ]
        ]
    },
    {
        "id": "0700a502faa10eb8",
        "type": "trigger",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "op1": "1",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1280,
        "y": 1420,
        "wires": [
            [
                "b7a05ce4e86c36de"
            ]
        ]
    },
    {
        "id": "3db176a34eb28116",
        "type": "ui_switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "label": "Envoi d'un email quand le produit arrive a distination",
        "tooltip": "",
        "group": "490558f97f50e5b6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 2340,
        "y": 2380,
        "wires": [
            [
                "600da691ad559ec6"
            ]
        ]
    },
    {
        "id": "7865a681bd3df161",
        "type": "trigger",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "op1": "1",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1280,
        "y": 1500,
        "wires": [
            [
                "433f32aef8edbb99"
            ]
        ]
    },
    {
        "id": "4feea5b050ba0e44",
        "type": "delay",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "17",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1200,
        "y": 1680,
        "wires": [
            [
                "f38cc9b9ca172b4f"
            ]
        ]
    },
    {
        "id": "f38cc9b9ca172b4f",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "emplacement2",
        "func": "msg.delay = 0;\nmsg.payload = {\n    \"name\" : \"depart\",\n    \"lat\" : 36.95961207539218,  \n    \"lon\"  :  1.522464338817487,\n    \"icon\" : \"male\"\n} \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 1680,
        "wires": [
            [
                "7dc8b4dceaad1201"
            ]
        ]
    },
    {
        "id": "17fa9763fdf6cf43",
        "type": "delay",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1200,
        "y": 1900,
        "wires": [
            [
                "5360e571dc4cb36c"
            ]
        ]
    },
    {
        "id": "5360e571dc4cb36c",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "emplacement2",
        "func": "msg.delay = 0;\nmsg.payload = {\n    \"name\" : \"depart\",\n    \"lat\" : 36.733570904558654, \n    \"lon\"  :  3.0872767764243365  ,\n    \"icon\" : \"male\"\n} \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1900,
        "wires": [
            [
                "7dc8b4dceaad1201",
                "8486441fb37529b8"
            ]
        ]
    },
    {
        "id": "8486441fb37529b8",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload = \"La livraison est arriver dans le pays de déstination\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 1820,
        "wires": [
            [
                "0d4adc072d2d982c",
                "501dc64aeefb9780"
            ]
        ]
    },
    {
        "id": "0d4adc072d2d982c",
        "type": "ui_toast",
        "z": "9882eaeeaa1be7cf",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 2110,
        "y": 1740,
        "wires": []
    },
    {
        "id": "39404fac370350ee",
        "type": "ui_audio",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "490558f97f50e5b6",
        "voice": "Microsoft Julie Mobile - French (France)",
        "always": "",
        "x": 1880,
        "y": 1740,
        "wires": []
    },
    {
        "id": "744cf4dbf6a39f1b",
        "type": "delay",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1200,
        "y": 2020,
        "wires": [
            [
                "c3ec1048d040e4eb"
            ]
        ]
    },
    {
        "id": "c3ec1048d040e4eb",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "emplacement2",
        "func": "msg.delay = 0;\nmsg.payload = {\n    \"name\" : \"depart\",\n    \"lat\" : 36.16948755908772, \n    \"lon\"  :  1.3218754713118412 ,\n    \"icon\" : \"male\"\n} \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2160,
        "y": 2020,
        "wires": [
            [
                "7dc8b4dceaad1201"
            ]
        ]
    },
    {
        "id": "6f31b7d92b3f7ec4",
        "type": "delay",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "35",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1200,
        "y": 2260,
        "wires": [
            [
                "95aa90d55a398726"
            ]
        ]
    },
    {
        "id": "95aa90d55a398726",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "emplacementFinal",
        "func": "msg.delay = 0;\nmsg.payload = {\n    \"name\" : \"fin\",\n    \"lat\" : 35.688521736379194, \n    \"lon\"  : -0.6345600441990135  ,\n    \"icon\" : \"male\"\n} \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 2280,
        "wires": [
            [
                "7dc8b4dceaad1201",
                "90dc43dd01a82e0c",
                "600da691ad559ec6",
                "3db176a34eb28116"
            ]
        ]
    },
    {
        "id": "90dc43dd01a82e0c",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload = \"La livraison est arriver dans la ville de déstination , llivraison terminer\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 2200,
        "wires": [
            [
                "0ec4a93a84859da4",
                "afd43dee7df07803"
            ]
        ]
    },
    {
        "id": "0ec4a93a84859da4",
        "type": "ui_toast",
        "z": "9882eaeeaa1be7cf",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1990,
        "y": 2100,
        "wires": []
    },
    {
        "id": "728138ea0318096d",
        "type": "ui_button",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "46833c0e27e87bd6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remise a zero du graphe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1450,
        "y": 1340,
        "wires": [
            [
                "af7049d589321080"
            ]
        ]
    },
    {
        "id": "27845fd957acb707",
        "type": "ui_button",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "afe2cf139d74484d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remise a zero du graphe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1470,
        "y": 1600,
        "wires": [
            [
                "72692719a8c692c9"
            ]
        ]
    },
    {
        "id": "600da691ad559ec6",
        "type": "switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2530,
        "y": 2280,
        "wires": [
            [
                "38c12cb256441a7c"
            ]
        ]
    },
    {
        "id": "38c12cb256441a7c",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.topic = \"Statut de votre livraison\";\nmsg.payload = \" Nous vous informons cher clients que votre livraison est terminer , merci de votre choix.\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2740,
        "y": 2280,
        "wires": [
            [
                "c482300e51730857"
            ]
        ]
    },
    {
        "id": "c482300e51730857",
        "type": "e-mail",
        "z": "9882eaeeaa1be7cf",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "waer3200@gmail.com",
        "dname": "",
        "x": 2960,
        "y": 2280,
        "wires": []
    },
    {
        "id": "501dc64aeefb9780",
        "type": "ui_switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "label": "Notification d'arriver dans le pays de déstination",
        "tooltip": "",
        "group": "490558f97f50e5b6",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1240,
        "y": 1740,
        "wires": [
            [
                "63dcbe988954c7b7"
            ]
        ]
    },
    {
        "id": "63dcbe988954c7b7",
        "type": "switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1550,
        "y": 1740,
        "wires": [
            [
                "6a7e9fcb2b0fbfea"
            ]
        ]
    },
    {
        "id": "6a7e9fcb2b0fbfea",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload = \"La livraison est arriver dans le pays de déstination\"\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1740,
        "wires": [
            [
                "39404fac370350ee"
            ]
        ]
    },
    {
        "id": "6ee91350b4291de8",
        "type": "ui_audio",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "490558f97f50e5b6",
        "voice": "Microsoft Julie Mobile - French (France)",
        "always": "",
        "x": 1740,
        "y": 2100,
        "wires": []
    },
    {
        "id": "afd43dee7df07803",
        "type": "ui_switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "label": "Notification audio d'arriver",
        "tooltip": "",
        "group": "490558f97f50e5b6",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1190,
        "y": 2100,
        "wires": [
            [
                "f0f4136b33fe5f0c"
            ]
        ]
    },
    {
        "id": "f0f4136b33fe5f0c",
        "type": "switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1370,
        "y": 2100,
        "wires": [
            [
                "a4cb9c9a3a4578cc"
            ]
        ]
    },
    {
        "id": "a4cb9c9a3a4578cc",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload = \"La livraison est arriver dans la ville de déstination , livraison terminer \"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2100,
        "wires": [
            [
                "6ee91350b4291de8"
            ]
        ]
    },
    {
        "id": "3270e0d42569e256",
        "type": "ui_audio",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "490558f97f50e5b6",
        "voice": "Microsoft Julie Mobile - French (France)",
        "always": "",
        "x": 2080,
        "y": 1100,
        "wires": []
    },
    {
        "id": "aad8f7e7cf0aca16",
        "type": "ui_switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "label": "Notification de sortie du cenre de tri",
        "tooltip": "",
        "group": "490558f97f50e5b6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1540,
        "y": 1100,
        "wires": [
            [
                "ad8337161b3b6c28"
            ]
        ]
    },
    {
        "id": "ad8337161b3b6c28",
        "type": "switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1770,
        "y": 1100,
        "wires": [
            [
                "e521fd818abe9acf"
            ]
        ]
    },
    {
        "id": "e521fd818abe9acf",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload = \"Sortie du centre de trie ,  et passage vers la douane\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 1100,
        "wires": [
            [
                "3270e0d42569e256"
            ]
        ]
    },
    {
        "id": "50b57555edd5410e",
        "type": "ui_switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "label": "Notification de départ",
        "tooltip": "",
        "group": "490558f97f50e5b6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1660,
        "y": 860,
        "wires": [
            [
                "8d65883c2e7647aa"
            ]
        ]
    },
    {
        "id": "8d65883c2e7647aa",
        "type": "switch",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1890,
        "y": 880,
        "wires": [
            [
                "bed3cbafe6b636b9"
            ]
        ]
    },
    {
        "id": "bed3cbafe6b636b9",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload = \"Début de la livraison\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 880,
        "wires": [
            [
                "89e2bec5c2879bcf"
            ]
        ]
    },
    {
        "id": "72692719a8c692c9",
        "type": "ui_chart",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "afe2cf139d74484d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Evolution de la vibration par rapport au temps",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1830,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "ed1f18a697ce4ab2",
        "type": "ui_gauge",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "afe2cf139d74484d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge vibration",
        "label": "m/s²",
        "format": "{{value}}",
        "min": "1",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "x": 1720,
        "y": 1500,
        "wires": []
    },
    {
        "id": "98ed7cc548c675ea",
        "type": "ui_button",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "group": "490558f97f50e5b6",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "déconnexion",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1360,
        "y": 2480,
        "wires": [
            [
                "ad6b54bfa0382181"
            ]
        ]
    },
    {
        "id": "fa24bbbf36adfc5e",
        "type": "ui_ui_control",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "events": "all",
        "x": 1820,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "ad6b54bfa0382181",
        "type": "function",
        "z": "9882eaeeaa1be7cf",
        "name": "",
        "func": "msg.payload={ \n    group: {\n        hide: [\"Home_Livraison\",\"Home_Vibration\",\"Home_temperature\"],\n        show: [\"Home_Connexion\",\"Home_Inscription\"] \n    } \n    \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 2480,
        "wires": [
            [
                "fa24bbbf36adfc5e"
            ]
        ]
    },
    {
        "id": "490558f97f50e5b6",
        "type": "ui_group",
        "name": "Livraison",
        "tab": "23bebfc5fbd76b6f",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "46833c0e27e87bd6",
        "type": "ui_group",
        "name": "temperature",
        "tab": "23bebfc5fbd76b6f",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "afe2cf139d74484d",
        "type": "ui_group",
        "name": "Vibration",
        "tab": "23bebfc5fbd76b6f",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "23bebfc5fbd76b6f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]